 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About</h3>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> This is Song Huang (黄崧). I am currently a post-doc
                        researcher in astrophysics at the Department of Astronomy
                        and Astrophysics, University of California Santa Cruz.
                        As a member of the Hyper Suprime-Cam Subaru Strategic
                        Program, I am working on different topics about galaxy
                        formation and evolution using the deep images from this
                        ambitious survey.
                        I was born in Tianjin, China, and got my Ph.D in Astrophysics
                        from Nanjing University, China.
                        Before joining UCSC, I was a post-doc researcher at
                        Kavli-IPMU, University of Tokyo.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>My main scientific interest is the life of massive galaxies
                       in the universe.
                       They are unique laboratories to study galaxy evolution and
                       cosmology.
                       Although most of them appear to be quiescent and look
                       boring, there are still numerous puzzles about them.
                       Right now, I am focusing on decoding the assembly history
                       of massive galaxies and their galaxy-dark matter halo
                       connection.
                     </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="files/cv.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Curriculum Vitae
                    </a>
                    <a href="files/pub.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Publication List
                    </a>
                    <a href="https://github.com/dr-guangtou" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> GitHub
                    </a>
                    <a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=R0RhE9YAAAAJ" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Google Scholar
                    </a>
                    <a href="https://orcid.org/0000-0003-1385-7591" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> ORCID
                    </a>
                </div>
            </div>
        </div>
    </section>
