 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Song Huang (黄崧). I am currently a post-doc
                    in astrophysics at IPMU-UTokyo, and working with the
                    astronomers there on the ambitious Hyper-Suprime Camera
                    survey and more broader topics about galaxy evolution.  I
                    am from Tianjin, China, and got my Ph.D in Astrophysics from
                    Nanjing University, China. </p>
                </div>
                <div class="col-lg-4">
                    <p>I am very interested in the formation and evolution of
                    galaxy in general. Particularity, I am really into the life
                    history of the most massive galaxies in the Universe.  In
                    our neighborhood, they are mostly quiescent, early-type
                    galaxies. I am trying to study their formation from the
                    angle of their mass-assembly and star-formation history.
                    Other than that, I am also interested in studying the
                    morphology and structure of other types of galaxies. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="files/cv.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download My CV
                    </a>
                </div>
            </div>
        </div>
    </section>
