 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Song Huang (黄崧). I am currently a post-doc
                        researcher in astrophysics at the Department of Astronomy
                        and Astrophysics, University of California Santa Cruz.
                        As a member of the Hyper Suprime-Cam Subaru Strategic
                        Program, I am working on different topics about galaxy
                        formation and evolution using the deep images from this
                        ambitious survey.
                        I am from Tianjin, China, and got my Ph.D in Astrophysics
                        from Nanjing University, China.
                        Before joining UCSC, I have been working at Kavli-IPMU,
                        University of Tokyo for two and half years as post-doc
                        researcher.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>My main scientific interests are about the life stories
                        of massive galaxies in the universe.
                        These massive galaxies are unique laboratories to study
                        galaxy evolution and cosmology.
                        Although most of them appear to be quiescent and look
                        boring, there are still numerous puzzles about them.
                        Right now, I am focusing on decoding the assembly history
                        of massive galaxies and their galaxy-dark matter halo
                        connection.
                     </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="files/cv.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                    <p>    </p>
                    <a href="files/songhuang_pub_list_1709.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Publication List
                    </a>
                </div>
            </div>
        </div>
    </section>
