 <!-- Outreach Section -->
    <section class="success" id="outreach">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Outreach</h3>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Besides research, I am also very passionate about public
                        outreach for asrtonomy, especially in my
                        mother tongue-Chinese.
                        I have written many articles for general public and
                        given public talks at different levels.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Below you can find some of my recent articles
                        (in Chinese):<br>
                        <ul style="list-style-type:circle">
                            <li>
                                <a href="http://www.guokr.com/article/440996/">
                                    Story about the Thirty Meter Telescope and
                                    its struggle on Mauna Kea (on Guokr.com)
                                </a>
                            </li>
                            <li>
                                <a href="https://zhuanlan.zhihu.com/p/274870396">
                                    Article about Hubble sequence and galaxy
                                    morphology (on Mr.Science)
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
